body{
margin:0;
font-family:Arial;
background:#EAEDED;
}

.header{
background:#131921;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
}

button{
background:#FFD814;
border:none;
padding:10px;
width:100%;
cursor:pointer;
}
